/*
 * Copyright (c) 2021 @MangoIV
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// makes it possible to hold backspace

&lt { quick_tap_ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            timeout-ms = <120>;
        };

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <10 11>;
            timeout-ms = <120>;
        };

        Lshift {
            bindings = <&kp LSHIFT>;
            key-positions = <20 21>;
            timeout-ms = <120>;
        };

        ctrl {
            bindings = <&kp LCTRL>;
            key-positions = <11 12>;
            timeout-ms = <120>;
        };

        alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <12 13>;
            timeout-ms = <120>;
        };

        Rshift {
            bindings = <&kp RSHIFT>;
            key-positions = <28 29>;
            timeout-ms = <120>;
        };

        BT-qingchu {
            bindings = <&bt BT_CLR>;
            key-positions = <0 9>;
            timeout-ms = <120>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
    };

    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N5 &kp N0 &kp N5 &kp N0 &kp N7>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            label = "Qwerty";
            bindings = <
&kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y       &kp U        &kp I      &kp O     &kp P
&kp A  &kp S  &kp D     &kp F  &kp G        &kp H       &kp J        &kp K      &kp L     &kp ENTER
&kp Z  &kp X  &kp C     &kp V  &kp B        &kp N       &kp M        &kp COMMA  &kp DOT   &kp FSLH
              &kp LGUI         &lt 1 SPACE  &new_macro  &lt 2 SPACE             &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_1 {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6    &kp N7           &kp N8     &kp N9     &kp N0
&trans  &trans  &trans  &trans  &trans  &kp LBKT  &kp RBKT         &kp MINUS  &kp EQUAL  &kp SQT
&trans  &trans  &trans  &trans  &trans  &trans    &trans           &trans     &trans     &trans
                &trans          &trans  &trans    &kp RIGHT_SHIFT             &trans
            >;

            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        layer_2 {
            bindings = <
&trans          &kp UP_ARROW    &trans           &trans  &trans  &trans        &trans        &trans  &trans  &trans
&kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans  &trans        &trans        &trans  &trans  &trans
&trans          &trans          &trans           &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &trans  &trans  &trans
                                &trans                   &trans  &trans        &trans                &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans          &trans  &trans  &trans          &trans
            >;
        };
    };
};
